.about-me {
  margin-top: 100px;
  margin-bottom: 60px;
  bottom: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: #fbf7f0;
  border-radius: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.title-about-me {
  font-family: "Golden-Plains";
  color: #b23150;
  font-size: 50px;
}

.about-me p {
  text-align: justify;
  margin-top: 20px;
}

.about-me-pic {
  float: left;
  padding-right: 20px;
  max-height: 400px;
}
