body {
    /*background: linear-gradient(#A8A85E, #C0AB36, #C8B031, #C68C29, #9E3E2A, #2F2127);*/
    background: url("../assets/images/construction-background.jpg");
    text-align: center;
}

.page-container {
    background: rgba(255,255,255, 0.3);
    border-radius: 25px;
    width: 50rem;
    padding: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.title h1 {
    font-family: 'Lovers Quarrel', cursive;
    font-size: 8rem;
    color: #2F2127;
    line-height: 75%;
}

.title h2 {
    font-family: 'Great Vibes', cursive;
    color: #2F2127;
}

.content {
    padding-top: 20px;
    font-size: 1.2rem;
    color: #2F2127;
}

.bold {
    font-weight: bold;
    margin-bottom: 0px;
}

hr {
    width: 20%;
    margin: auto;
}

.fab {
    font-size: 3rem;
    color: #2F2127;
    text-decoration: none;
}

.fab:hover {
    color: #9E3E2A;
}

.footer-text {
    font-size: 1.5rem;
    color: #2F2127;
}

@media only screen and (max-width: 812px) {
    .page-container {
        max-width: 90vw;
        padding: 30px;
    }

    .title h1 {
        font-size: 5rem;
    }

}